* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #FCFDFF;
    color: #333;
}

.container {
    width: 70%; 
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.hero-section {
    margin-bottom: 30px;
}

.greeting h1 {
    font-size: 26px;
    font-weight: 600;
}

.greeting p {
    color: #4071A8;
    margin: 10px 0 40px 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.banner {
    margin-top: 20px;
    background: #e7f0ff;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0,0,0,0.02);
}

.banner-content h3 {
    font-size: 26px;
    font-weight: 700;
}

.banner-content p {
    margin: 5px 0 15px;
    font-size: 15px;
    color: #4071A8;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.banner img {
    justify-content: end;
    width: 150px;
}

.btn-primary {
    background: #254A91;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.dashboard-summary {
    display: flex;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.balance-card,
.income-card,
.expense-card {
    flex: 1; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    min-width: 200px;
    margin: 10px 0;
    height: 100px;
    background-color: #FFFFFF;
    color: #254A91;
    box-shadow:  5px 8px rgba(0,0,0,0.06);
}

.add-transaction-section {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 40px;
    border: 2px solid #254A91;
}

.add-transaction-section h3 {
    font-size: 22px;
    padding: 20px 0 30px 0;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-toggle-form {
    background-color: #254A91; 
    color: #fff; 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 20px 0 20px 0;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.form-container {
    max-height: 1000px; 
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s; 
    padding: 0 0 20px 0; 
}

.hidden-form {
    max-height: 0; 
    padding: 0;
    opacity: 0;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grid-2 > .form-group {
    flex: 1;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #d9e1f2;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #254A91;
}


.btn-submit {
    background: #254A91;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-submit:hover {
    background: #1d396e;
}

#feedback-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.history-section {
    margin-top: 40px;
    background: #254A91;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.history-section h3 {
    margin-bottom: 35px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.filter-bar {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.filter-bar select {
    padding: 9px 12px;
    border-radius: 8px;
    font-size: 14px; 
    width: 160px;
} 

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.delete-btn{
    background-color: #cd4848;

}

.edit-btn{
    background-color: #f39746;
}

.transaction-card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    line-height: 25px;
   
}

.btn-toggle-form--close {
    background-color: #cd4848; 
}


.income-border {
    border-left: 5px solid #28a745; 
    background-color: #ffffff; 
}

.expense-border {
    border-left: 5px solid #cd4848; 
    background-color: #ffffff; 
}


.transaction-info {
    display: flex;
    flex-direction: column;
}

.transaction-info p {
    font-size: 13px;
    color: #666;
}

.transaction-amount {
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

.amount-income {
    color: #28a745; 
}

.amount-expense {
    color: #cd4848; 
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-btn {
    padding: 6px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: opacity 0.3s;
}

.action-btn:hover {
    opacity: 0.7;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #666;
    font-size: 13px;
}

@media (max-width: 768px) {
    .container {
        width: 85%; 
        padding: 30px 0;
    }

   .banner {
        flex-direction: column;
        align-items: flex-start; 
    }

    .banner img {
        width: 120px;
        margin-top: 15px;
        align-self: flex-end;
    }
    
    .dashboard-summary {
        flex-direction: column;
        gap: 15px;
    }

    .balance-card,
    .income-card,
    .expense-card {
        width: 100%; 
        min-width: unset;
        margin: 0;
        text-align: center; 
    }

    .form-row, .filter-bar {
        flex-direction: column;
        gap: 10px;
    }

    .form-row > .form-group {
        width: 100%;
    }

    .grid-2 > .form-group {
        flex: unset; 
        width: 100%;
    }

    .filter-bar select {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .transaction-card {
        flex-direction: column; 
        align-items: flex-start;
        padding: 15px;
    }

    .income-border {
        border-left-color: #28a745;
        border-top-color: #e0e0e0
    }
    .expense-border {
        border-left-color: #cd4848;
        border-top-color: #e0e0e0
    }

    .transaction-card .details {
        width: 100%;
        margin-bottom: 10px;
        justify-content: end; 
        align-items: end;
    }
   
    .transaction-card  {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        gap: 10px;
    }

    .transaction-amount {
        font-size: 16px;
    }

    .add-transaction-section,
    .history-section {
        padding: 15px;
    }

   
.msg-success, .msg-error {
    display: block; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.hidden {
    display: none !important; 
}
}